.check-step {
  border: none;
  background-color: transparent;
  }

  .uncheck-step {
    border: none;
    background-color: transparent;
    }

  .garden-steps-show-status{
    display: flex;
    justify-content: flex-end;
  }

  .garden_steps_banner{
    background-color: #BCDD8C;
    background: cover;
    text-align: center;
    border-radius: 10%;

    h1{
      color: white;
      padding: 40px;
      }
      }

      .garden-steps-main-container{
        padding-top: 40px;

  }
