.garden-category {
  background-size: cover;
  background-position: center;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: 8EC640;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.garden-category .delete-button {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 40px;
  color: #8EC640;
}

.garden-info-card {
  background-size: cover;
  background-position: center;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 8px;
}

 .garden-info {
  color: noir;
  margin-bottom: 4px;
}

.step-title {
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.step-card {
  background-size: cover;
  background-position: center;
  height: 110px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  margin-bottom: 5px;
  padding-top: 3px;
}

.retour-button {
  margin-top: 8px;
  background-color: #8EC640;
  color: white;
  width: 60px;
  padding: 3px 5px;
}
