.garden-index-main-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;

  h1 {
    font-size: 10vw;
    text-align: center;
    }
}

.new-garden-button {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  background: #ffffff;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0rem);
  z-index: 2;
  font-size: 4em;
  color:#BCDD8C;
}

.garden-index-title-container {
  padding: 1rem
}

.gardens-index-cards-container {
  // width: 100%;
  // align-items: center;
}

.garden-card {
  border: solid 1px rgba(11, 79, 48, 0.24);
  margin-bottom: 2em;
  box-shadow: rgba(11, 79, 48, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  // justify-content: space-between;
  // width: 100%;
}

.garden-index-picture-container {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.garden-index-picture {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.garden-index-info {
  padding: 1rem 1rem 0rem;
  width: auto;
}

.garden-index-info-bottom-line {
  display: flex;
  flex-direction:row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:normal;
}

.delete-garden-button {
  font-size: 1.2em;
  z-index: 1;
  color:#BCDD8C;
  // text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.no-gardens-message {
  font-family: "Reenie Beanie", cursive;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.no-gardens-arrow {
  max-width: 40%;
  max-height: 32rem;
}

.no-gardens-picture {
  max-width: 80%;
}
// .garden-info-title-trash {
//   display: flex;
//   flex-direction:row;
//   // align-items:normal;
//   position: relative;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: baseline
// }
