.garden-show-card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.garden-show-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}


.garden-show-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.garden-show-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.garden-show-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.garden-show-card-product .garden-show-card-product-infos {
  padding: 16px;
}
