// app/assets/stylesheets/nav_tabs.scss

// Import Bootstrap variables and mixins if you're using Bootstrap


// Custom styles for nav tabs
.nav-nav-tabs {
  // Style for the entire nav-tabs container
  border-bottom: 2px solid #ddd;
  margin-bottom: 2em;
  border: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;

  .nav-link {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 15px;
    color: #0b4f30; // Customize the text color
    background-color: #E7F4DA; // Customize the background color
    border: solid;
    border-color:#BCDD8C;
    transition: all 0.3s;
    width: 5em;
    height: 5em;
    margin-left: 1px;
    h4 {
      font-size: 1.5em;
    }

    &.active {
      color: white;
      background-color: #BCDD8C;
      border: solid;
      border-color: #0b4f30;
      text-shadow: 1px 1px 1px rgba(11, 79, 48, 0.4);
    }
  }
}

.filler-div {
  height: 6em;
  // border: solid; // border for debug
  // border-color: #0b4f30;
}
