.garden-body {
  padding-top: 20px;
}
.garden-category {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.cover-img-garden{
  background-size: cover;
  background-position: center;
  width: 22.5rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.garden-name{
  text-align: center;
}

.delete-button-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button {
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1px;
  right: 5px;
  width: 40px;
  color: #8EC640;
}

.img-card{
  width: 7rem;
  margin-left: 1rem;
}

.step-card {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.step-card-info{
  display: flex;
  flex-direction: column;
  width: 11rem;
  margin-inline: 2rem;
}

.step-card h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.step-card p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
}

.retour-button {
  margin-top: 8px;
  background-color: #8EC640;
  color: white;
  width: 60px;
  padding: 3px 5px;
}

.status {
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 10px;
}
