.garden-steps-main-container {
  // height: 100vh;
}

.garden_steps_banner {
  // background-color: #BCDD8C;
  text-align: center;
  border-radius: 1em;

  h1 {
    // color: white;
    padding: 1em;
    margin-bottom: 0;
    text-shadow: 1px 1px 10px rgba(11, 79, 48, 0.2);
  }
}

.container-show {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 1em;
  padding-right: 1em;

  .pictogram {
    padding: 0.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1em;
  }

  h3 {
    padding: 0.5em;
    text-align: center;
    font-weight: bold ;
  }

  p {
    text-align: justify;
    // text-justify:distribute;
    font-size: 1.1rem;
  }

  iframe {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: solid 1px #BCDD8C;
    box-shadow: 1px 1px 3px #BCDD8C;
    margin-top: 1em;
    background-color: #BCDD8C;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    font-size: 16px;
    color: white;
    background-color: #BCDD8C;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold ;
  }
}

.bottom-buttons-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px -1.6em 1.3em white;

  input {
    width: 70px;
    height: 70px;
  }
}
