.home-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  text-shadow: 1px 1px 3px rgba(11, 79, 48, 0.2);
}

.home-logo {
  height: 5rem;
  border-radius: 50%;
  // box-shadow: 1px 1px 3px rgba(11, 79, 48, 0.2);
  text-shadow: 1px 1px 2px rgba(11, 79, 48, 0.7);
}

#home-title{
  font-family: "Reenie Beanie", cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 24vw;
  color:#BCDD8C;
  text-shadow: 1px 1px 2px rgba(11, 79, 48, 0.5);
}

.home-image {
  width: 80%;
}


#home-slogan {
  color: #BCDD8C;
  font-size: 106%;
  display: flex;
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(11, 79, 48, 0.7);
}

.boutonmespotagers {
  background-color: #BCDD8C;
  color: white !important;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(11, 79, 48, 0.5);
  transition: background-color 0.3s ease;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
}

// .boutonmespotagers:hover {
//   background-color: white;
//   color: #0B4F30;
//   border-color: #0B4F30; /* Couleur de fond au survol */
//   font-weight: bold;
// }
