.package-choice-container {

}

.package-choice-iteration-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  background-color: #fff;

  }
