<h1 class="titre-form">Créer un nouveau potager - Étape 4</h1>
<div class="formulaire-du-potager">
<%= form_for @garden, url: garden_form_index_path do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.submit 'Create Garden' %>
<% end %>

</div>
