<div class="home-container">
  <%= image_tag "logo_light_transparent.png", class: "home-logo" %>
  <h1 id="home-title">Le petit Guide Vert</h1>
  <%= image_tag "image_accueil.jpg", class: "home-image"%>
  <p id="home-slogan">L’application incontournable pour les débutants du potager en ville !</p>
  <%= link_to "C'est parti !", gardens_path, class: 'boutonmespotagers'%>
</div>
