  <table  width="150" height="150" style="background-color:green; border-collapse:collapse"></table>
  <h1>MetroVert</h1>
  <p> L’application incoutournable pour les débutants du potager en ville ! </p>
  <p>
    <%= link_to 'Voir mes jardins', gardens_path %>
  </p>
