<div class="home-container">
<%= image_tag "logo.png", class: "home-logo" %>
<%= image_tag "image_accueil.jpg", class: "home-image"%>
<h1 class= "home-title">MétroVert</h1>
    <p class="home-slogan">L’application incontournable pour les débutants du potager en ville !</p>
        <%= link_to 'Mes potagers', gardens_path, class: 'boutonmespotagers' %>
</div>
