<% if user_signed_in? %>
  <table  width="150" height="150" style="background-color:green; border-collapse:collapse"></table>
  <h1>MetroVert</h1>
  <p> L’application incoutournable pour les débutants du potager en ville ! </p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>
    <%= link_to 'Voir les jardins', gardens_path %>
  </p>
<% else %>
  <table  width="150" height="150" style="background-color:green; border-collapse:collapse"></table>
  <h1>MetroVert</h1>
    <p> L’application incoutournable pour les débutants du potager en ville ! </p>
    <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to 'Se connecter', new_user_session_path %>
<% end %>
