<div class="home-container">
<%= image_tag "logo.png", class: "home-logo" %>
    <p class="home-slogan">L’application incontournable pour les débutants du potager en ville !</p>
        <%= link_to 'Mes potagers', gardens_path, class: 'boutonmespotagers' %>
</div>
