<%# <h1 class = "titre-form">Créer un nouveau potager</h1>
<div class= 'formulaire-du-potager'> %>
<%= form_with(model: [@garden], url: gardens_path, method: :post) do |form| %>
  <%= form.hidden_field :current_step, value: @current_step %>
  <div data-controller="step-one">
    <label>
      Name:
      <%= form.text_field :name %>
    </label>
    <button type="submit" data-action="submit">Next</button>
  </div>
<% end %>