<%= link_to 'Retour', new_garden_path %>
<h2>Package Choice</h2>

  <div class="package-choice-container">
    <p>Pour <%=@garden.name%> nous vous proposons 4 kits </p>
      <div class="package-choice-iteration-container">
      <%# form_for %>
        <% @packages.each do |package|  %>
        <%# radiobutton %>
          <div class= "package-choice-iteration-card">
            <%= package.name %> <br>
            <%= package.description %>
          </div>
        <%# /radiobutton %>
        <% end %>
      <%# /form_for %>
      </div>
  </div>
