<%= link_to 'Retour', new_garden_path %>
<h2>Package Choice</h2>

  <div class="package-choice-container">
    <p>Pour <%=@garden.name%> nous vous proposons 4 kits </p>
      <div class="package-choice-iteration-container">
        <% @packages.each do |package|  %>
          <div class= "cards-legend-container">
            <%= package.name %> <br>
            <%= package.description %>
          </div>
      <% end %>
      </div>
  </div>
