
.navbar-metrovert {
  background-color: #BCDD8C;
  box-shadow: rgba(11, 79, 48, 0.24) 0px 3px 8px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  color: white;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(11, 79, 48, 0.2);

  a:hover {
    color: inherit;
  }
}

.home {
  font-size: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.dropdown-item {
  color: #0b4f30;
}

.navbar-logo-container {
  font-family: "Reenie Beanie", cursive;
  font-size: 2.5rem;
  max-height: 100%;
  margin: auto;
  display: block;
  border-color: inherit;
}

.userphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  // width: 2.5rem;
  // height: 2.5rem;
  // line-height: 40px;
  // border-radius: 50%;
  // border-style: solid;
  // border-width: 2px;
}
