
.navbar-metrovert {
  justify-content: space-between;
  background: white;
  border-bottom: solid 2px #6b952f;
  position:fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction:row;
  // align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navbar-metrovert .navbar-brand img {
  width: 40px;
}


.home {
  font-size: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.fa-house, a.dropdown-item {
  color:#8ec640;
}

.navbar-logo-container {
  text-align: center;
  width: 40px;
  margin: auto;
  display: block;
}

.userphoto {
  display: flex;
  justify-content: end;
  align-items: center;
}
