.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid 2px #6b952f;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.home {
  font-size: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.fa-house, a.dropdown-item {
  color:#8ec640;
}

.logo {
  text-align: center;
}

.userphoto {
  display: flex;
  justify-content: end;
  align-items: center;
}
