.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid 2px #0b4f30;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
